In [1]:
# 1)
# List of similar element
col = ['blue','red','green','yellow']
print(col)
# List of different elements
days = ['Sun','Mon','Tues',4,5,6]
print(days)

['blue', 'red', 'green', 'yellow']
['Sun', 'Mon', 'Tues', 4, 5, 6]

In [2]:
# 2) Indexing -----> 0 to (n-1)
print(col[2])

green

In [6]:
# Negative indexing
days = ['Sun','Mon','Tues',4,5,6]
print(days[-1])

6

In [4]:
# 3) Mutability
col[1]='black'           # if we give black instead of 'black' ----> it will shows error, it should be passed as string

In [5]:
col

['blue', 'black', 'green', 'yellow']

In [8]:
days[-2] = 'wednesday'
print(days)

['Sun', 'Mon', 'Tues', 4, 'wednesday', 6]

In [9]:
# 4) List of List (Nesting of List)
month = [31,[28,29],31,30,31,30]
print(month[1])
print(month[1][0])

[28, 29]
28

In [11]:
# 5) Slicing of list
num = [23,67,12,48,29,38,19]
print(num[2:6])              # If we give (2:6) instead of [2:6], it will show error. For indexing we use [].

[12, 48, 29, 38]

In [12]:
print(num[1:])              # 1st index element to last element

[67, 12, 48, 29, 38, 19]

In [14]:
print(num[:5])              # 5th index number element is excluded.

[23, 67, 12, 48, 29]

In [15]:
print(num[:])              # To access all element

[23, 67, 12, 48, 29, 38, 19]

In [20]:
# 6) Replacing set of elements
metals = ['H','O','He','K','Si','Fe']
# To insert 'Na' and "s" at the place of 'He' and 'K'
metals[2:4]=['Na','S']                     # If we pass -----> print(metals[2:4]=['Na','S']) then it shows error.
print(metals)

['H', 'O', 'Na', 'S', 'Si', 'Fe']

In [21]:
# 7) To check existance of element in list
metals = ['H','O','He','K','Si','Fe']
'O' in metals

True

In [22]:
'o' in metals              # case sensitive

False

In [23]:
"O" in metals

True

In [24]:
'O' not in metals

False

In [32]:
# 8) Deleting elements 
metals = ['H','O','He','K','Si','Fe']
del metals[1]
print(metals)

['H', 'He', 'K', 'Si', 'Fe']

In [33]:
del metals[1:3]
print(metals)

['H', 'Si', 'Fe']

In [35]:
# To delet whole list
del metals
print(metals)             # It is showing error that means there is no any list available of the name metals

NameError: name 'metals' is not defined

In [38]:
# 9) Multidimensional list
mat = [[1,2,3],[5,6,7],[4,[9,8]]]
print(mat[2])
print(mat[2][1])
print(mat[2][1][1])

[4, [9, 8]]
[9, 8]
8

In [54]:
# 10) Arithmatic operations
num = [7,2,5,3,6]
print(num*2)               # It prints list 2 times

[7, 2, 5, 3, 6, 7, 2, 5, 3, 6]

In [55]:
print(num + [4,8])        # It adds the provided list at the end

[7, 2, 5, 3, 6, 4, 8]

In [61]:
# 11) Iterating through List
num = [7,2,5,3,6]
for n in num:
    if n%2 != 0:
        print(n, end = ',')

7,5,3,

In [63]:
# 12) List comprehension
# Make list of all even number from 1 to 20
even = [2*i for i in range (1,11)]
print(even)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [65]:
# 13) Creating empty list
num = []
print(type(num))
print(len(num))

<class 'list'>
0

In [69]:
# 14) Assigning list elements
num = [1,2,3]
x,y,z = num
print(x)
print(y)
print(z)
print(1)                       # It will access the data assign to x,y,z.
print(2)
print(3)

1
2
3
1
2
3

In [70]:
numb = [a,b,c]
1,2,3 = numb
print(1)                    # numbers can be assigned to literal

SyntaxError: cannot assign to literal (<ipython-input-70-2350f9beb2c2>, line 2)

# Inbult function

In [ ]:
# len()   max()   min()    sum()    sorted()    list()    all()    any()

In [72]:
num = [7,2,5,8,6,4,3]
print(len(num))

7

In [73]:
print(max(num))

8

In [74]:
print(min(num))

2

In [75]:
print(sum(num))

35

In [76]:
print(sorted(num))            # To sort all element should be of same type. (All string, all integer, all float)

[2, 3, 4, 5, 6, 7, 8]

In [89]:
data = [0,0,0,False]
any(data)

False

In [90]:
data = [0,0,0,False,3]
any(data)

True

In [91]:
data = [0,0,0,False]
all(data)

False

In [92]:
data = [1,2,3,4,5,6,7]
all(data)

True

In [93]:
data = [1,2,3,4,5,6,7,0]
all(data)

False

In [94]:
# Append
data.append(0)
print(data)

[1, 2, 3, 4, 5, 6, 7, 0, 0]

In [95]:
# Insert
data.insert(0,9)
print(data)

[9, 1, 2, 3, 4, 5, 6, 7, 0, 0]

In [96]:
# Remove
data.remove(0)
print(data)             # It removes the value or element passed. It does not consider it as index.
                        # It remove 0 only one time (1st zero), other zeroes remain in the list as it is.

[9, 1, 2, 3, 4, 5, 6, 7, 0]

In [97]:
# POP                  # It removes the last added element in the list
print(data.pop)        # Round bracket are not provided after pop then it will show this redult

<built-in method pop of list object at 0x000001B0D3CD6DC0>

In [99]:
print(data.pop())
data

7

[9, 1, 2, 3, 4, 5, 6]

In [102]:
# To get index of element
data.index(9)

0

In [103]:
# To show frequency of number of occurence of provided element
data.count(5)

1

In [113]:
# 1) Sort 
num = [7,2,5,3,6]
num.sort()
num

[2, 3, 5, 6, 7]

In [115]:
num = [7,2,5,3,6]
sort(num)                  # It will show error if we use sort(num) instead of sorted(num)

NameError: name 'sort' is not defined

In [116]:
# 2) Sort
num = [7,2,5,3,6]
sorted(num)

[2, 3, 5, 6, 7]

In [117]:
# Reverse
print(num.reverse)

<built-in method reverse of list object at 0x000001B0D1C6C400>

In [123]:
print(num.reverse())          # This will not give the result of reverse function.

None

In [125]:
num.reverse()               # If we use reversed instead of reverse then it will show error.
num

[6, 3, 5, 2, 7]

In [6]:
# Take data from user and print
arr = []
n = int(input("How many elements ?"))
for x in range(n):
    num = int(input("Enter number:"))
    arr.append(num)
print("List is:", arr)

How many elements ?4
Enter number:1
Enter number:2
Enter number:3
Enter number:4
List is: [1, 2, 3, 4]

In [8]:
# 
metals=['Silver','Gold','Copper','Iron','Aluminium','Copper']
# make a list that is identical to this list. New list should contain-
# -all elements and in same order except not contain copper.
new_metals = []
for metal in metals:
    if metal != 'copper':          # If we pass 'copper' instead of 'Copper' it will not work
        new_metals.append(metal)
print(new_metals)

['Silver', 'Gold', 'Copper', 'Iron', 'Aluminium', 'Copper']

In [9]:
metals=['Silver','Gold','Copper','Iron','Aluminium','Copper']
# make a list that is identical to this list. New list should contain-
# -all elements and in same order except not contain copper.
new_metals = []
for metal in metals:
    if metal != 'Copper':         
        new_metals.append(metal)
print(new_metals)

['Silver', 'Gold', 'Iron', 'Aluminium']

In [35]:
# sort only 50% higher order 
list = [5,6,2,8,9,1,3,7,4,0]
a=int(len(list))
list2 = []
for n in list:
    if list.index(n) >= a/2:
        list2.append(n)
print(list2)
print(sorted(list2))

list3 = []
for n in list:
    if list.index(n) <= a/2:
        list3.append(n)
Final_list = list3 + list2
Final_list

[1, 3, 7, 4, 0]
[0, 1, 3, 4, 7]

[5, 6, 2, 8, 9, 1, 1, 3, 7, 4, 0]