In [1]:
import pandas as pd

In [4]:
df = pd.read_csv('C:\\Users\\Abhi\\Desktop\\CSV files\\Height.csv')
df.head()

    Name  Height
0  mohan     5.9
1  maria     5.2
2  sakib     5.1
3    tao     5.5
4  virat     4.9

In [5]:
df['Height']

0      5.9
1      5.2
2      5.1
3      5.5
4      4.9
5      5.4
6      6.2
7      6.5
8      7.4
9     14.2
10     6.1
11     5.6
12     1.2
13     5.5
Name: Height, dtype: float64

In [9]:
# quantile gives us the percentile value
max_thresold = df['Height'].quantile(0.95)              # The values which are above this we can consider as outlier
max_thresold

9.779999999999998

In [10]:
# In our dataframe how to identify the values which are above thresold value
df[df['Height']>max_thresold]

    Name  Height
9  imran    14.2

In [11]:
df['Height']>max_thresold

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9      True
10    False
11    False
12    False
13    False
Name: Height, dtype: bool

In [13]:
# Similarly on minimum end we can find min_thresold
min_thresold = df['Height'].quantile(0.05)          # The values which are below this we can consider as outlier
min_thresold

3.6050000000000004

In [14]:
df[df['Height']<min_thresold]

     Name  Height
12  yosef     1.2

In [20]:
# To remove these outliers
data = df[(df['Height']>min_thresold) & (df['Height']<max_thresold)]
data

       Name  Height
0     mohan     5.9
1     maria     5.2
2     sakib     5.1
3       tao     5.5
4     virat     4.9
5   khushbu     5.4
6    dmitry     6.2
7    salina     6.5
8      john     7.4
10     joes     6.1
11   dipika     5.6
13    binod     5.5