In [2]:
#1)
per = (1,2,3,4,5)
print(per)
print(type(per))

(1, 2, 3, 4, 5)
<class 'tuple'>

In [3]:
#2) Second method of creating tuple
data=1,56.34,'Ajay'
print(data)
print(type(data))

(1, 56.34, 'Ajay')
<class 'tuple'>

In [6]:
#3) Accessing
per = (1,2,3,4,5)
print(per[2])
print(per[1:4])
print(per[-2])

3
(2, 3, 4)
4

# Python tuple functions
len()
max()
min()
sum()
any()
all()
sorted()
tuple()

In [7]:
#4) Tuple is immutable but data can be accessed
p = (6,5,4,7,8,9)
print(p[2])
p[1]=5       #It shows error because data can not be changed in tuple i.e. tuple is immutable

4

TypeError: 'tuple' object does not support item assignment

In [ ]:
""" 5) To change the data in the tuple,
tuple is to be converted into llist, change data, then convert this list into tuple again."""

# Built in functions
len()-----> It calculates length of tuple
max()-----> It returns the highest value
min()-----> It returns the lowest value
sum()-----> It returns the sum of all values in the tuple

In [8]:
num = (1,2,3,4,5,6,7,8,9)
print(len(num))
print(max(num))
print(min(num))
print(sum(num))

9
9
1
45

In [ ]:
"""6)
sorted()-----> It returns sorted version of tuple but does not change original one
tuple() -----> It converts different data type into tuple
any()   -----> It returnsTrue if even one item in tuple has a true value
all()   -----> It returns True if all items in the tuple have atrue value

In [10]:
tup = (7,2,5,8,6,4,3)
print(sorted(tup))     # Here data is sorted
print(tup)            # But original data is remained unchanged

[2, 3, 4, 5, 6, 7, 8]
(7, 2, 5, 8, 6, 4, 3)

In [11]:
# to sort data should be in the same form then only we can sort the data otherwise error will arise.
run = (7,2,'X',5,1,True)
print(sorted(run))        # This error is because the data is not in the same form.

TypeError: '<' not supported between instances of 'str' and 'int'

In [12]:
tuple('abc')

('a', 'b', 'c')

In [13]:
data = (0,0,0,False)
print(any(data))

False

In [14]:
data = (0,0,0,3,False)
print(any(data))

True

In [15]:
data = (0,0,0,3,False)
all(data)

False

In [17]:
data = (1,2,3,4,5,6,7,8,9)
all(data)

True

In [18]:
data = (1,2,3,4,5,6,7,8,9,0)
all(data)

False

In [ ]:
"""
index() -----> This method takes one argument and returns the index of first appearance of an item in the tuple 
count() -----> This method takes one argument and returns the number of times an item appears in the tuple."""

In [19]:
# Concatination
sun = (1,5,9,7,3) 
sun + (11,22)

(1, 5, 9, 7, 3, 11, 22)

In [25]:
# Iteration
per = (1,2,3,5,7,8,9)
for n in per:
    print(n, sep=' ')

1
2
3
5
7
8
9

In [26]:
# Nesting
num = (23,(2,7),11,36)
num[1]

(2, 7)

# SImple list of tuple

In [27]:
num = int(input("How many students ? :"))
stud=[]
for x in range(num):
    roll = int(input("Enter roll :"))
    name = input("Enter name :")
    marks = float(input("Enter marks: "))
    stud.append((roll,name,marks))
for x in stud:
    print('%-2d%-10s%-3.2f' %(x[0],x[1],x[2]))

How many students ? :1
Enter roll :1
Enter name :a
Enter marks: 1
1 a         1.00

In [ ]:
num = int(input("How many students ? :"))
stud=[]
for x in range(num):
    roll = int(input("Enter roll :"))
    name = input("Enter name :")
    marks = float(input("Enter marks: "))
    t = (roll,name,marks)
    stud.append(t)
max=0
for x in stud:
    if x[2]>max
    max=x[2]
    topper = x[1]
print(topper)